<html>
    <body>
        <a href = "{{url_for ('add')  }}">'>Create Company</a>
        <a href = "{{url_for ('create_game')  }}">'>Create Game</a>
        <h1>Companies</h1>
        {% block body%}
        <html>
    <head>
        <title>Companies</title>
    </head>
    <body>
        <br>
        <div class='company'>
        {% for company in companies %}
            {{company.id}} | {{company.name}} | {{company.description}} | {{company.founders}}
            <a href = "{{url_for ('update', id=company.id)  }}">'>Update</a>
            <a href = "{{url_for ('delete', id=company.id)  }}">'>Delete</a>
            <br>
            {% for game in games %}
            {% if company.id == game.company_id %}

                {{ game.name }}
                <a href = "{{url_for ('update_game', id=game.id)  }}">'>Update</a> -->
                <a href = "{{url_for ('delete_game', id=game.id)  }}">'>Delete</a> -->

                <br>
            {% endif %}
        
            {% endfor %}
        </div>
            

            <br>    
        {% endfor %}    
    </body>
</html>
        {% endblock body %}
    </body>
</html>